@import "layout";

$font: 'Roboto', sans-serif;
$fontCol: #333;

html { background-color: #FFFBF3; font-family: $font; font-size: 12px; }
h1, h2, h3, h4, h5, h6 { margin: ($vMargin/20) 0 ($vMargin/10); font-family: $font; font-weight: 100; }
h1 { font-size: 48px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
a { color: $fontCol; text-decoration: none; }
img { display: block; max-width: 100%; height: auto; }
iframe { width: 100%; }
label { cursor: pointer; }

.main-cont { width: $pageWidth; margin: 0 auto; max-width: $maxPageWidth; padding-bottom: 300px; }
section { margin-top: 50px; }
.ingress { width: w(8, 0); }
.signature { width: w(6, 0); margin: 250px auto 0; text-align: center; display: block; border-top: 1px solid #ccc;
	svg { padding-top: 30px; } }

.u-button { height: 50px; border: 1px solid #000; line-height: 50px; text-transform: uppercase; display: inline-block; vertical-align: top; padding: 0 20px;
	& + & { margin-left: 20px; }
}

.redils-multislide { padding: 0 50px; box-sizing: border-box; 
	.redils-controls { position: absolute; width: 100%; left: 0; top: 0; height: 240px; }
	.super-slide .slides { padding: 0 10px; } }

.pagination { text-align: center; position: relative; top: -25px; z-index: 5; 
	.center-pagination a { width: 15px; height: 15px; border-radius: 50%; background-color: #fff; display: inline-block; margin: 0 5px; 
		&.selected { background-color: #333; } } }

.pagination--line { -webkit-tap-highlight-color: transparent; height: 50px; width: 60%; position: relative; margin: 25px auto; background-color: #fff; text-align: left;
	.pagination-inner a { width: 10%; position: absolute; background-color: #000; height: 10px; top: 20px; display: inline-block; } }

.arrow { position: absolute; display: inline-block; vertical-align: center; top: 50%; margin-top: -10px;
	&:before { content: ""; border: 10px solid transparent; position: absolute; } }
.arrow-area-left {
	&:hover .arrow:before { border-right-color: #555; }
	.arrow:before { border-right-color: #333; } } 
.arrow-area-right	{
	&:hover .arrow:before { border-left-color: #555; }
	.arrow { right: 20px;
		&:before { border-left-color: #333; } } }

.external-controls { text-align: center;
	div { padding: 20px; display: inline-block; vertical-align: top; cursor: pointer; } }

//Setting up the contact sheet images

.redils-contact-sheet {
	.super-slide {
		.slides { margin-left: $gut; margin-bottom: $gut; width: w(6);
			&:nth-child(2n-1) { margin-left: 0; }
			img { width: 100%; height: auto; } } } }

@media only screen and (min-width : 1196px) { 
	.redils-contact-sheet .super-slide .slides { width: w(4); 
		&:nth-child(2n-1) { margin-left: $gut; }
		&:nth-child(3n-2) { margin-left: 0; } } }