.redils-cont { width: 1170px; max-width: 100%; position: relative; }
.redils { overflow: hidden; width: 100%; height: 100%;
	.slide-cont { height: 100%; }
	.slides { height: 100%; } }

.redils-controls {
	.arrow-area { position: absolute; height: 100%; width: 20%; top: 0; z-index: 10; cursor: pointer; }
	.arrow-area-right { right: 0; } }

//Deprecated
table.redils-controls { width: 100%; height: 100%; position: absolute; top: 0; left: 0;
	.arrow-area-left { text-align: left; }
	td { cursor: pointer; position: relative; padding: 0; text-align: right; display: table-cell; vertical-align: middle; user-select: none; 
		&.center-cell { width: 10%; z-index: -1; } } }

.redils-fader { height: 600px;
	.redils { z-index: 5; }
	.slides { width: 100%; height: 100%; } }

.redils-default { height: 660px;
	.slides { float: left; } }

.redils-responsive { height: 600px;
	.slides { float: left;
		img { width: auto; height: 100%; } }
	.redils.disabled .slides { margin: 0 auto; opacity: 1; float: none; } }

.redils-multislide { height: 240px;
	.slides { display: inline-block; vertical-align: top; }
	.super-slide { float: left; text-align: center; } }

.redils-contact-sheet { height: 600px;
	.slides { display: inline-block; vertical-align: top; }
	.super-slide { float: left; text-align: center; } }