//Requires $pageWidth: 1170px;

.redils-cont { width: $pageWidth; max-width: 100%; position: relative; }
.redils { overflow: hidden; width: 100%; height: 100%;
	.slide-cont { height: 100%; }
	.slides { height: 100%; } }
.redils-controls { width: 100%; height: 100%; position: absolute; top: 0; left: 0;
	.arrow-area-left { text-align: left; }
	td { cursor: pointer; position: relative; padding: 0; text-align: right; display: table-cell; vertical-align: middle; user-select: none; 
		&.center-cell { width: 10%; z-index: -1; } } }

.redils-responsive { height: 600px;
	.slides { float: left;
		img { width: auto; height: 100%; } }
	.redils.disabled .slides { margin: 0 auto; opacity: 1; float: none; } }

.redils-multislide { height: 240px;
	.superSlide { float: left; text-align: center;
		.slides { display: inline-block; vertical-align: top; } } }