.redils-cont { width: 1170px; max-width: 100%; position: relative; }

#redils-click-blocker { user-select: none; -webkit-tap-highlight-color: transparent; }

.redils { overflow: hidden; width: 100%; height: 100%; user-select: none; -webkit-tap-highlight-color: transparent;
	.slide-cont { height: 100%; }
	.slides { height: 100%; } }

.redils-controls { user-select: none; -webkit-tap-highlight-color: transparent;
	.arrow-area { position: absolute; height: 100%; width: 20%; top: 0; z-index: 10; cursor: pointer; }
	.arrow-area-right { right: 0; } }

.redils-fader { height: 600px;
	.redils { z-index: 5; }
	.slides { width: 100%; height: 100%; } }

.redils-default { height: 660px;
	.slides { float: left; } }

.redils-centered { width: 100%; 
	.slide-cont { line-height: 0; font-size: 0; }
	.slides { display: inline-block; vertical-align: top; 
		img { width: 585px; height: auto; } } }

.redils-centered-overflow { width: 100%; 
	.slide-cont { line-height: 0; font-size: 0; }
	.slides { display: inline-block; vertical-align: top; width: 70vw;
		img { width: 100%; height: auto; } } }

.redils-responsive { height: 600px;
	.slides { float: left;
		img { width: auto; height: 100%; } }
	.redils.disabled .slides { margin: 0 auto; opacity: 1; float: none; } }

.redils-responsive-height { height: auto;
	.redils { height: auto; }
	.slide-cont { height: auto; }
	.slides { height: auto; float: left; } }

.redils-multislide { height: 240px;
	.slides { display: inline-block; vertical-align: top; }
	.super-slide { float: left; text-align: center; } }
.single-multislide-disable {
	.arrow-area { display: none; }
	.pagination { display: none; } }

.redils-contact-sheet {
	.slides { display: inline-block; vertical-align: top; }
	.super-slide { float: left; text-align: center; } }

// animate forwards  hidden > left > center > right > hidden
@keyframes hidden_left {
	0% { transform: translate3d(-200%, 0, 0) translate3d(60px, 0, 0); }
	100% { transform: translate3d(-100%, 0, 0) translate3d(60px, 0, 0); }
}

@keyframes left_center {
	0% { transform: translate3d(-100%, 0, 0) translate3d(60px, 0, 0); }
	100% { transform: translate3d(50vw, 0, 0) translate3d(-50%, 0, 0); }
}

@keyframes center_right {
	0% { transform: translate3d(50vw, 0, 0) translate3d(-50%, 0, 0); }
	100% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0); }
}

@keyframes right_hidden { //from out of frame.
	0% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0); }
	100% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0) translate3d(100%, 0, 0); }
}

// animate backwards hidden < left < center < right < hidden
@keyframes left_hidden { //from out of frame.
	0% { transform: translate3d(-100%, 0, 0) translate3d(60px, 0, 0); }
	100% { transform: translate3d(-200%, 0, 0) translate3d(60px, 0, 0); }
}

@keyframes center_left {
	0% { transform: translate3d(50vw, 0, 0) translate3d(-50%, 0, 0); }
	100% { transform: translate3d(-100%, 0, 0) translate3d(60px, 0, 0); }
}

@keyframes right_center {
	0% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0); }
	100% { transform: translate3d(50vw, 0, 0) translate3d(-50%, 0, 0); }
}

@keyframes hidden_right {
	0% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0) translate3d(100%, 0, 0); }
	100% { transform: translate3d(100vw, 0, 0) translate3d(-60px, 0, 0); }
}

.redils-stacked { width: 100vw; height: 660px;
	.redils { position: relative; }
	.slides { transform: translate3d(200vw, 0, 0); position: absolute; top: 0; left: 0; text-align: center;
		img { display: block; }
		&.hidden { animation: right_hidden 0.5s ease-in-out forwards; // right < hidden > left
			&.back { animation: left_hidden 0.5s ease-in-out forwards; }
		}
		&.left { animation: hidden_left 0.5s ease-in-out forwards; // hidden < left > center
			&.back { animation: center_left 0.5s ease-in-out forwards; }
		}
		&.center { animation: left_center 0.5s ease-in-out forwards; // left < center > right
			&.back { animation: right_center 0.5s ease-in-out forwards; }
		}
		&.right { animation: center_right 0.5s ease-in-out forwards; // center < right > hidden
			&.back { animation: hidden_right 0.5s ease-in-out forwards; }
		}
	}
}
