.redils-cont {
  width: 1170px;
  max-width: 100%;
  position: relative; }

#redils-click-blocker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.redils {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .redils .slide-cont {
    height: 100%; }
  .redils .slides {
    height: 100%; }

.redils-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .redils-controls .arrow-area {
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    z-index: 10;
    cursor: pointer; }
  .redils-controls .arrow-area-right {
    right: 0; }

.redils-fader {
  height: 600px; }
  .redils-fader .redils {
    z-index: 5; }
  .redils-fader .slides {
    width: 100%;
    height: 100%; }

.redils-default {
  height: 660px; }
  .redils-default .slides {
    float: left; }

.redils-centered {
  width: 100%; }
  .redils-centered .slide-cont {
    line-height: 0;
    font-size: 0; }
  .redils-centered .slides {
    display: inline-block;
    vertical-align: top; }
    .redils-centered .slides img {
      width: 585px;
      height: auto; }

.redils-centered-overflow {
  width: 100%; }
  .redils-centered-overflow .slide-cont {
    line-height: 0;
    font-size: 0; }
  .redils-centered-overflow .slides {
    display: inline-block;
    vertical-align: top;
    width: 70vw; }
    .redils-centered-overflow .slides img {
      width: 100%;
      height: auto; }

.redils-responsive {
  height: 600px; }
  .redils-responsive .slides {
    float: left; }
    .redils-responsive .slides img {
      width: auto;
      height: 100%; }
  .redils-responsive .redils.disabled .slides {
    margin: 0 auto;
    opacity: 1;
    float: none; }

.redils-responsive-height {
  height: auto; }
  .redils-responsive-height .redils {
    height: auto; }
  .redils-responsive-height .slide-cont {
    height: auto; }
  .redils-responsive-height .slides {
    height: auto;
    float: left; }

.redils-multislide {
  height: 240px; }
  .redils-multislide .slides {
    display: inline-block;
    vertical-align: top; }
  .redils-multislide .super-slide {
    float: left;
    text-align: center; }

.single-multislide-disable .arrow-area {
  display: none; }
.single-multislide-disable .pagination {
  display: none; }

.redils-contact-sheet .slides {
  display: inline-block;
  vertical-align: top; }
.redils-contact-sheet .super-slide {
  float: left;
  text-align: center; }

@-webkit-keyframes hidden_left {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-200% + 60px), 0, 0);
    transform: translate3d(calc(-200% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); } }

@keyframes hidden_left {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-200% + 60px), 0, 0);
    transform: translate3d(calc(-200% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); } }

@-webkit-keyframes left_center {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); } }

@keyframes left_center {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); } }

@-webkit-keyframes center_right {
  0% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); } }

@keyframes center_right {
  0% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); } }

@-webkit-keyframes right_hidden {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px + 100%), 0, 0);
    transform: translate3d(calc(100vw - 60px + 100%), 0, 0); } }

@keyframes right_hidden {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px + 100%), 0, 0);
    transform: translate3d(calc(100vw - 60px + 100%), 0, 0); } }

@-webkit-keyframes left_hidden {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-200% + 60px), 0, 0);
    transform: translate3d(calc(-200% + 60px), 0, 0); } }

@keyframes left_hidden {
  0% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-200% + 60px), 0, 0);
    transform: translate3d(calc(-200% + 60px), 0, 0); } }

@-webkit-keyframes center_left {
  0% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); } }

@keyframes center_left {
  0% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(-100% + 60px), 0, 0);
    transform: translate3d(calc(-100% + 60px), 0, 0); } }

@-webkit-keyframes right_center {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); } }

@keyframes right_center {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc((100vw - 100%) / 2), 0, 0);
    transform: translate3d(calc((100vw - 100%) / 2), 0, 0); } }

@-webkit-keyframes hidden_right {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px + 100%), 0, 0);
    transform: translate3d(calc(100vw - 60px + 100%), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); } }

@keyframes hidden_right {
  0% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px + 100%), 0, 0);
    transform: translate3d(calc(100vw - 60px + 100%), 0, 0); }

  100% {
    -webkit-transform: translate3d(-webkit-calc(100vw - 60px), 0, 0);
    transform: translate3d(calc(100vw - 60px), 0, 0); } }

.redils-stacked {
  width: 100vw;
  height: 660px; }
  .redils-stacked .redils {
    position: relative; }
  .redils-stacked .slides {
    -webkit-transform: translate3d(200vw, 0, 0);
    transform: translate3d(200vw, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
    .redils-stacked .slides img {
      display: block; }
    .redils-stacked .slides.hidden {
      -webkit-animation: right_hidden 0.5s ease-in-out forwards;
      animation: right_hidden 0.5s ease-in-out forwards; }
      .redils-stacked .slides.hidden.back {
        -webkit-animation: left_hidden 0.5s ease-in-out forwards;
        animation: left_hidden 0.5s ease-in-out forwards; }
    .redils-stacked .slides.left {
      -webkit-animation: hidden_left 0.5s ease-in-out forwards;
      animation: hidden_left 0.5s ease-in-out forwards; }
      .redils-stacked .slides.left.back {
        -webkit-animation: center_left 0.5s ease-in-out forwards;
        animation: center_left 0.5s ease-in-out forwards; }
    .redils-stacked .slides.center {
      -webkit-animation: left_center 0.5s ease-in-out forwards;
      animation: left_center 0.5s ease-in-out forwards; }
      .redils-stacked .slides.center.back {
        -webkit-animation: right_center 0.5s ease-in-out forwards;
        animation: right_center 0.5s ease-in-out forwards; }
    .redils-stacked .slides.right {
      -webkit-animation: center_right 0.5s ease-in-out forwards;
      animation: center_right 0.5s ease-in-out forwards; }
      .redils-stacked .slides.right.back {
        -webkit-animation: hidden_right 0.5s ease-in-out forwards;
        animation: hidden_right 0.5s ease-in-out forwards; }

/*# sourceMappingURL=main.css.map */